## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv("kc_house_data.csv")

# EDA

## 1) Check Duplicates
## 2) Check data types and null values 
## 3) Inspect columns to determine discrete/continuous/categorical
## 4) Gameplan for features ie scaling/normalize/dummy vars/interaction terms

In [4]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

### 1) Check Duplicates

In [6]:
data[data.id.duplicated(keep=False)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
93,6021501535,7/25/2014,430000.0,3,1.50,1580,5000,1.0,0.0,0.0,...,8,1290,290.0,1939,0.0,98117,47.6870,-122.386,1570,4500
94,6021501535,12/23/2014,700000.0,3,1.50,1580,5000,1.0,0.0,0.0,...,8,1290,290.0,1939,0.0,98117,47.6870,-122.386,1570,4500
313,4139480200,6/18/2014,1380000.0,4,3.25,4290,12103,1.0,0.0,3.0,...,11,2690,1600.0,1997,0.0,98006,47.5503,-122.102,3860,11244
314,4139480200,12/9/2014,1400000.0,4,3.25,4290,12103,1.0,0.0,3.0,...,11,2690,1600.0,1997,0.0,98006,47.5503,-122.102,3860,11244
324,7520000520,9/5/2014,232000.0,2,1.00,1240,12092,1.0,NaN,0.0,...,6,960,280.0,1922,1984.0,98146,47.4957,-122.352,1820,7460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20654,8564860270,3/30/2015,502000.0,4,2.50,2680,5539,2.0,NaN,0.0,...,8,2680,0.0,2013,0.0,98045,47.4759,-121.734,2680,5992
20763,6300000226,6/26/2014,240000.0,4,1.00,1200,2171,1.5,0.0,0.0,...,7,1200,0.0,1933,0.0,98133,47.7076,-122.342,1130,1598
20764,6300000226,5/4/2015,380000.0,4,1.00,1200,2171,1.5,0.0,0.0,...,7,1200,0.0,1933,0.0,98133,47.7076,-122.342,1130,1598
21564,7853420110,10/3/2014,594866.0,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,0.0,98065,47.5184,-121.886,2850,6000
21565,7853420110,5/4/2015,625000.0,3,3.00,2780,6000,2.0,0.0,0.0,...,9,2780,0.0,2013,NaN,98065,47.5184,-121.886,2850,6000

### Duplicated houses are only 353 entries.  The duplicates have a difference in price but there aren't changes across the other columns, making it ambiguous to determine why or how the price changed.  based on this, I decided to drop these duplicates.

In [8]:
# drop duplicated ids and make sure difference is the same as 353 rows from duplicate check
# len(data) - 353 = 21244
new_data = data.drop_duplicates(subset= ['id'], keep=False)
len(new_data)

21244

In [9]:
new_data.corr()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,1.000000,-0.020157,0.000248,0.003600,-0.014613,-0.133375,0.017719,-0.004212,0.010266,-0.024668,0.004858,-0.012751,0.020761,-0.012549,-0.007755,-0.003725,0.018029,-0.005002,-0.140291
price,-0.020157,1.000000,0.310327,0.525563,0.701259,0.088021,0.254460,0.277537,0.394652,0.033020,0.666911,0.604353,0.049958,0.130801,-0.050190,0.305490,0.018787,0.583107,0.081640
bedrooms,0.000248,0.310327,1.000000,0.516276,0.579945,0.032513,0.177532,-0.002585,0.078527,0.025314,0.359441,0.481121,0.154812,0.017668,-0.156068,-0.012598,0.132843,0.396526,0.030453
bathrooms,0.003600,0.525563,0.516276,1.000000,0.755294,0.087186,0.501029,0.067297,0.184306,-0.132141,0.665364,0.685991,0.505323,0.052366,-0.203050,0.022010,0.222732,0.569047,0.087219
sqft_living,-0.014613,0.701259,0.579945,0.755294,1.000000,0.171716,0.351785,0.110443,0.280775,-0.063836,0.762171,0.876622,0.315129,0.055381,-0.198236,0.049317,0.239221,0.755979,0.183332
sqft_lot,-0.133375,0.088021,0.032513,0.087186,0.171716,1.000000,-0.006311,0.023075,0.075916,-0.009491,0.112574,0.182276,0.051675,0.004595,-0.129265,-0.086131,0.230308,0.142843,0.717279
floors,0.017719,0.254460,0.177532,0.501029,0.351785,-0.006311,1.000000,0.021412,0.025938,-0.269574,0.457394,0.521505,0.488677,0.002067,-0.057565,0.048567,0.123689,0.278054,-0.012013
waterfront,-0.004212,0.277537,-0.002585,0.067297,0.110443,0.023075,0.021412,1.000000,0.408862,0.017536,0.087589,0.075385,-0.026794,0.087542,0.031615,-0.012992,-0.040412,0.089066,0.031952
view,0.010266,0.394652,0.078527,0.184306,0.280775,0.075916,0.025938,0.408862,1.000000,0.043853,0.246800,0.164836,-0.058036,0.100298,0.089851,0.005161,-0.080546,0.276800,0.073934
condition,-0.024668,0.033020,0.025314,-0.132141,-0.063836,-0.009491,-0.269574,0.017536,0.043853,1.000000,-0.153940,-0.164007,-0.368624,-0.062772,0.005716,-0.015997,-0.108359,-0.097335,-0.003755
grade,0.004858,0.666911,0.359441,0.665364,0.762171,0.112574,0.457394,0.087589,0.246800,-0.153940,1.000000,0.756357,0.444579,0.017060,-0.181499,0.112066,0.196790,0.712500,0.119128
sqft_above,-0.012751,0.604353,0.481121,0.685991,0.876622,0.182276,0.521505,0.075385,0.164836,-0.164007,0.756357,1.000000,0.421907,0.020952,-0.260065,-0.002880,0.343488,0.732016,0.193811
yr_built,0.020761,0.049958,0.154812,0.505323,0.315129,0.051675,0.488677,-0.026794,-0.058036,-0.368624,0.444579,0.421907,1.000000,-0.226490,-0.345122,-0.149342,0.408354,0.323045,0.069471
yr_renovated,-0.012549,0.130801,0.017668,0.052366,0.055381,0.004595,0.002067,0.087542,0.100298,-0.062772,0.017060,0.020952,-0.226490,1.000000,0.069711,0.031763,-0.072740,0.000150,0.003975
zipcode,-0.007755,-0.050190,-0.156068,-0.203050,-0.198236,-0.129265,-0.057565,0.031615,0.089851,0.005716,-0.181499,-0.260065,-0.345122,0.069711,1.000000,0.266633,-0.565324,-0.277614,-0.146839
lat,-0.003725,0.305490,-0.012598,0.022010,0.049317,-0.086131,0.048567,-0.012992,0.005161,-0.015997,0.112066,-0.002880,-0.149342,0.031763,0.266633,1.000000,-0.137082,0.046293,-0.086305
long,0.018029,0.018787,0.132843,0.222732,0.239221,0.230308,0.123689,-0.040412,-0.080546,-0.108359,0.196790,0.343488,0.408354,-0.072740,-0.565324,-0.137082,1.000000,0.333747,0.255257
sqft_living15,-0.005002,0.583107,0.396526,0.569047,0.755979,0.142843,0.278054,0.089066,0.276800,-0.097335,0.712500,0.732016,0.323045,0.000150,-0.277614,0.046293,0.333747,1.000000,0.182013
sqft_lot15,-0.140291,0.081640,0.030453,0.087219,0.183332,0.717279,-0.012013,0.031952,0.073934,-0.003755,0.119128,0.193811,0.069471,0.003975,-0.146839,-0.086305,0.255257,0.182013,1.000000

## 2) Check data types and nulls

#### Isolate the columns with null values and inspect them.  Use .value_counts() to inspect the frequency to determine how to handle nans.

In [8]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21244 entries, 0 to 21596
Data columns (total 21 columns):
id               21244 non-null int64
date             21244 non-null object
price            21244 non-null float64
bedrooms         21244 non-null int64
bathrooms        21244 non-null float64
sqft_living      21244 non-null int64
sqft_lot         21244 non-null int64
floors           21244 non-null float64
waterfront       18914 non-null float64
view             21181 non-null float64
condition        21244 non-null int64
grade            21244 non-null int64
sqft_above       21244 non-null int64
sqft_basement    21244 non-null object
yr_built         21244 non-null int64
yr_renovated     17469 non-null float64
zipcode          21244 non-null int64
lat              21244 non-null float64
long             21244 non-null float64
sqft_living15    21244 non-null int64
sqft_lot15       21244 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.6+ MB

In [9]:
def get_null_cols(df):
    """
    Input a dataframe
    Return a dataframe with only the columns that have null values
    """
    cols_w_nulls = []
    for col in df.columns:
        if df[col].hasnans:
            cols_w_nulls.append(col)
    df_nulls = df[cols_w_nulls]
    return (df_nulls)

null_df = get_null_cols(new_data)
null_df.head()

   waterfront  view  yr_renovated
0         NaN   0.0           0.0
1         0.0   0.0        1991.0
2         0.0   0.0           NaN
3         0.0   0.0           0.0
4         0.0   0.0           0.0

####  Waterfront is a discrete variable that differentiates between a property with waterfront views or not.  A majority of the values are 0.  It is difficult to determine whether or not the missing values are waterfront property or not from the rest of the data.  The lat/lon columns could be used to see if any missing values are near values with waterfront views.  I don't think the waterfront feature will be very useful so I am going to assign the missing values to zero and  make note when I get the regression results.

In [10]:
water_values_dict = new_data.waterfront.value_counts(dropna=False).to_dict()
water_values_dict

{0.0: 18768, nan: 2330, 1.0: 146}

In [11]:
new_data.waterfront = new_data.waterfront.fillna(value= 0.0)

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

#### The view column is another column that I don't think will be very useful.  I'm going to fill the missing values with zeros and make a note to inspect later.

In [12]:
view_vals_dict = new_data.view.value_counts(dropna=False).to_dict()
view_vals_dict

{0.0: 19085, 2.0: 955, 3.0: 502, 1.0: 328, 4.0: 311, nan: 63}

In [13]:
new_data.view = new_data.view.fillna(value=0.0)

#### The year renovated column is very interesting.  For now, the missing data will get assigned to zero.

In [14]:
yr_ren_vals_dict = new_data['yr_renovated'].value_counts(dropna=False).to_dict()
yr_ren_vals_dict

{0.0: 16733,
 nan: 3775,
 2014.0: 73,
 2003.0: 31,
 2013.0: 31,
 2007.0: 30,
 2000.0: 29,
 2005.0: 29,
 2004.0: 22,
 2009.0: 21,
 1990.0: 20,
 1989.0: 20,
 2006.0: 20,
 2002.0: 17,
 1991.0: 16,
 1998.0: 16,
 1999.0: 15,
 2008.0: 15,
 2010.0: 15,
 2001.0: 15,
 1983.0: 15,
 2015.0: 14,
 1987.0: 14,
 1984.0: 14,
 1994.0: 14,
 1986.0: 14,
 1985.0: 14,
 1992.0: 13,
 1995.0: 12,
 1997.0: 12,
 1993.0: 12,
 1988.0: 11,
 1996.0: 11,
 2011.0: 9,
 1970.0: 9,
 1982.0: 8,
 2012.0: 8,
 1979.0: 7,
 1977.0: 7,
 1968.0: 7,
 1980.0: 6,
 1975.0: 5,
 1963.0: 4,
 1981.0: 4,
 1973.0: 4,
 1965.0: 4,
 1969.0: 4,
 1972.0: 3,
 1960.0: 3,
 1958.0: 3,
 1956.0: 3,
 1955.0: 3,
 1978.0: 3,
 1964.0: 3,
 1945.0: 3,
 1967.0: 2,
 1962.0: 2,
 1974.0: 2,
 1940.0: 2,
 1957.0: 2,
 1934.0: 1,
 1976.0: 1,
 1948.0: 1,
 1954.0: 1,
 1971.0: 1,
 1959.0: 1,
 1944.0: 1,
 1953.0: 1,
 1951.0: 1,
 1946.0: 1,
 1950.0: 1}

In [15]:
new_data['yr_renovated'] = new_data['yr_renovated'].fillna(value= 0.0)

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
# check that there are no columns with nulls
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21244 entries, 0 to 21596
Data columns (total 21 columns):
id               21244 non-null int64
date             21244 non-null object
price            21244 non-null float64
bedrooms         21244 non-null int64
bathrooms        21244 non-null float64
sqft_living      21244 non-null int64
sqft_lot         21244 non-null int64
floors           21244 non-null float64
waterfront       21244 non-null float64
view             21244 non-null float64
condition        21244 non-null int64
grade            21244 non-null int64
sqft_above       21244 non-null int64
sqft_basement    21244 non-null object
yr_built         21244 non-null int64
yr_renovated     21244 non-null float64
zipcode          21244 non-null int64
lat              21244 non-null float64
long             21244 non-null float64
sqft_living15    21244 non-null int64
sqft_lot15       21244 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.6+ MB

## 3) Inspect columns to determine discrete/continuous/categorical

#### Go through columns and determine if they are continuous or discrete.  Then determine which columns to be used for feature engineering.

In [17]:
for col in new_data.columns:
    print(new_data[col].value_counts(),'\n')

2911700010    1
5631500905    1
1922069099    1
5104511600    1
1160000115    1
             ..
1322059002    1
4222310680    1
6446200060    1
301402280     1
1777500160    1
Name: id, Length: 21244, dtype: int64

6/23/2014    142
6/25/2014    130
6/26/2014    127
4/27/2015    126
7/8/2014     122
            ...
1/10/2015      1
1/31/2015      1
2/15/2015      1
1/17/2015      1
5/27/2015      1
Name: date, Length: 372, dtype: int64

450000.0    171
350000.0    167
550000.0    154
500000.0    150
425000.0    149
           ...
418900.0      1
234975.0      1
804995.0      1
870515.0      1
884744.0      1
Name: price, Length: 3580, dtype: int64

3     9639
4     6816
2     2712
5     1571
6      258
1      186
7       38
8       13
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64

2.50    5327
1.00    3738
1.75    2992
2.25    2015
2.00    1896
1.50    1413
2.75    1179
3.00     741
3.50     727
3.25     583
3.75     155
4.00     132
4.50      98
4.25      79
0.75      69
4.75      23
5.00      21
5.25      13
5.50      10
1.25       9
6.00       6
5.75       4
0.50       4
8.00       2
6.25       2
6.75       2
6.50       2
7.50       1
7.75       1
Name: bathrooms, dtype: int64

1300    134
1440    133
1400    129
1800    127
1660    127
       ...
4970      1
2905      1
2793      1
4810      1
1975      1
Name: sqft_living, Length: 1033, dtype: int64

5000     352
6000     282
4000     247
7200     216
7500     117
        ...
33826      1
41811      1
52062      1
1900       1
36862      1
Name: sqft_lot, Length: 9737, dtype: int64

1.0    10432
2.0     8171
1.5     1866
3.0      607
2.5      161
3.5        7
Name: floors, dtype: int64

0.0    21098
1.0      146
Name: waterfront, dtype: int64

0.0    19148
2.0      955
3.0      502
1.0      328
4.0      311
Name: view, dtype: int64

3    13780
4     5609
5     1673
2      155
1       27
Name: condition, dtype: int64

7     8804
8     6017
9     2597
6     1952
10    1126
11     393
5      227
12      87
4       27
13      13
3        1
Name: grade, dtype: int64

1300    208
1200    200
1010    198
1140    182
1220    180
       ...
2601      1
440       1
2473      1
2441      1
1975      1
Name: sqft_above, Length: 941, dtype: int64

0.0       12608
?           450
600.0       215
500.0       203
700.0       203
          ...
20.0          1
946.0         1
875.0         1
176.0         1
2240.0        1
Name: sqft_basement, Length: 302, dtype: int64

2014    559
2006    453
2005    450
2004    425
2003    420
       ...
1901     29
1933     28
1902     27
1935     24
1934     21
Name: yr_built, Length: 116, dtype: int64

0.0       20508
2014.0       73
2003.0       31
2013.0       31
2007.0       30
          ...
1953.0        1
1934.0        1
1948.0        1
1976.0        1
1954.0        1
Name: yr_renovated, Length: 70, dtype: int64

98103    598
98038    583
98115    569
98052    568
98042    545
        ...
98102    104
98010     98
98024     78
98148     55
98039     48
Name: zipcode, Length: 70, dtype: int64

47.6624    17
47.5491    17
47.6846    17
47.5322    17
47.6886    16
           ..
47.4153     1
47.3309     1
47.4946     1
47.6089     1
47.2715     1
Name: lat, Length: 5030, dtype: int64

-122.290    111
-122.300    109
-122.291    100
-122.362    100
-122.363     99
           ...
-122.467      1
-121.403      1
-121.804      1
-121.726      1
-121.893      1
Name: long, Length: 750, dtype: int64

1540    189
1560    188
1440    185
1500    176
1460    167
       ...
2873      1
952       1
3193      1
1304      1
2049      1
Name: sqft_living15, Length: 776, dtype: int64

5000     423
4000     352
6000     282
7200     208
4800     143
        ...
7002       1
11116      1
9069       1
2667       1
6147       1
Name: sqft_lot15, Length: 8650, dtype: int64

#### My initial exploration missed 450 instances of a question mark entry for the 'sqft_basement' column.  Upon investigation, the 'sqft_above' + 'sqft_basement' = 'sqft_living' 

I am going to use the living and lot columns for square footage and create a ratio so I won't need the above or basement data.

In [18]:
new_data[new_data['sqft_basement'] == '?']

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
6,1321400060,6/27/2014,257500.0,3,2.25,1715,6819,2.0,0.0,0.0,...,7,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
18,16000397,12/5/2014,189000.0,2,1.00,1200,9850,1.0,0.0,0.0,...,7,1200,?,1921,0.0,98002,47.3089,-122.210,1060,5095
42,7203220400,7/7/2014,861990.0,5,2.75,3595,5639,2.0,0.0,0.0,...,9,3595,?,2014,0.0,98053,47.6848,-122.016,3625,5639
79,1531000030,3/23/2015,720000.0,4,2.50,3450,39683,2.0,0.0,0.0,...,10,3450,?,2002,0.0,98010,47.3420,-122.025,3350,39750
112,2525310310,9/16/2014,272500.0,3,1.75,1540,12600,1.0,0.0,0.0,...,7,1160,?,1980,0.0,98038,47.3624,-122.031,1540,11656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21442,3226049565,7/11/2014,504600.0,5,3.00,2360,5000,1.0,0.0,0.0,...,7,1390,?,2008,0.0,98103,47.6931,-122.330,2180,5009
21447,1760650900,7/21/2014,337500.0,4,2.50,2330,4907,2.0,0.0,0.0,...,7,2330,?,2013,0.0,98042,47.3590,-122.081,2300,3836
21473,6021503707,1/20/2015,352500.0,2,2.50,980,1010,3.0,0.0,0.0,...,8,980,?,2008,0.0,98117,47.6844,-122.387,980,1023
21519,2909310100,10/15/2014,332000.0,4,2.50,2380,5737,2.0,0.0,0.0,...,7,2380,?,2010,0.0,98023,47.2815,-122.356,2380,5396
21581,191100405,4/21/2015,1580000.0,4,3.25,3410,10125,2.0,0.0,0.0,...,10,3410,?,2007,0.0,98040,47.5653,-122.223,2290,10125

In [19]:
new_data[['sqft_living', 'sqft_above', 'floors']][new_data['sqft_basement'] == '?']

       sqft_living  sqft_above  floors
6             1715        1715     2.0
18            1200        1200     1.0
42            3595        3595     2.0
79            3450        3450     2.0
112           1540        1160     1.0
...            ...         ...     ...
21442         2360        1390     1.0
21447         2330        2330     2.0
21473          980         980     3.0
21519         2380        2380     2.0
21581         3410        3410     2.0

[450 rows x 3 columns]

## Inspection Notes

The columns 'Bedrooms', 'Bathrooms', 'Condition', and 'Grade' are discrete variables.  To give these features similar magnitudes, I am going to perform Min-Max scaling.

The columns representing floors, year built, year renovated, basement square footage, and the latitude/longitude are going to be engineered into categorical features.

The columns with square-footage are continuous variables. Scaling these variables will be done by normalization.

# 4) Gameplan for features ie scaling/normalize/dummy vars/interaction terms

In [20]:
to_scale_list = ['bedrooms', 'bathrooms', 'floors', 'condition', 'grade']

In [22]:
new_data.floors.value_counts()

1.0    10432
2.0     8171
1.5     1866
3.0      607
2.5      161
3.5        7
Name: floors, dtype: int64

In [23]:
for col in to_scale_list:
    new_data[col] = new_data[col].apply(lambda x: (x - new_data[col].min())/(new_data[col].max() - new_data[col].min()))

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
new_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,0.06250,0.066667,1180,5650,0.0,0.0,0.0,...,0.4,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,0.06250,0.233333,2570,7242,0.4,0.0,0.0,...,0.4,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,0.03125,0.066667,770,10000,0.0,0.0,0.0,...,0.3,770,0.0,1933,0.0,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,0.09375,0.333333,1960,5000,0.0,0.0,0.0,...,0.4,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,0.06250,0.200000,1680,8080,0.0,0.0,0.0,...,0.5,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [26]:
new_data['renovated'] = new_data.yr_renovated.apply(lambda x: 1 if x > 0.0 else 0)

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
ser = new_data.yr_built.value_counts().sort_index()
arr = pd.cut(ser.index,bins = 5,retbins = True)[1]

def cat_yr(x):   
    if x <= arr[1]:
        return(str(int(round(arr[0],0))) + '_' + str(int(arr[1])))
    elif arr[1] < x <= arr[2]:
        return(str(int(arr[1])) + '_' + str(int(arr[2])))
    elif arr[2] < x <= arr[3]:
        return(str(int(arr[2])) + '_' + str(int(arr[3])))
    elif arr[3] < x <= arr[4]:
        return(str(int(arr[3])) + '_' + str(int(arr[4])))
    else:
        return(str(int(arr[4])) + '_' + str(int(arr[5])))
    
new_data['year_cat'] = new_data.yr_built.apply(cat_yr)

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [31]:
new_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,renovated,year_cat
0,7129300520,10/13/2014,221900.0,0.06250,0.066667,1180,5650,0.0,0.0,0.0,...,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650,0,1946_1969
1,6414100192,12/9/2014,538000.0,0.06250,0.233333,2570,7242,0.4,0.0,0.0,...,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639,1,1946_1969
2,5631500400,2/25/2015,180000.0,0.03125,0.066667,770,10000,0.0,0.0,0.0,...,0.0,1933,0.0,98028,47.7379,-122.233,2720,8062,0,1923_1946
3,2487200875,12/9/2014,604000.0,0.09375,0.333333,1960,5000,0.0,0.0,0.0,...,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000,0,1946_1969
4,1954400510,2/18/2015,510000.0,0.06250,0.200000,1680,8080,0.0,0.0,0.0,...,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503,0,1969_1992

In [32]:
dummy_yr_cat_df = pd.get_dummies(new_data.year_cat)
dummy_yr_cat_df

       1900_1923  1923_1946  1946_1969  1969_1992  1992_2015
0              0          0          1          0          0
1              0          0          1          0          0
2              0          1          0          0          0
3              0          0          1          0          0
4              0          0          0          1          0
...          ...        ...        ...        ...        ...
21592          0          0          0          0          1
21593          0          0          0          0          1
21594          0          0          0          0          1
21595          0          0          0          0          1
21596          0          0          0          0          1

[21244 rows x 5 columns]

In [34]:
new_data.shape

(21244, 23)

In [35]:
new_data = new_data.join(dummy_yr_cat_df)

In [37]:
# function for getting N,S,E,W quadrints of the county
def create_quad(row):
    mean_lat = new_data['lat'].mean()
    mean_long = new_data['long'].mean()
    
    if row['lat'] >= mean_lat and row['long'] <= mean_long:
        return('NW')
    elif row['lat'] >= mean_lat and row['long'] > mean_long:
        return('NE')
    elif row['lat'] < mean_lat and row['long'] <= mean_long:
        return('SW')
    else:
        return('SE')
    
#create a column in dataframe for quad    
new_data['quad'] = new_data.apply(create_quad, axis=1)
# Create dummy variables (i.e. each value in the quad column will become its own column)
quad_dum = pd.get_dummies(new_data.quad)
# Join the quad columns in with the new dataframe.
new_data = new_data.join(quad_dum)
# Prints the dataframe in jupyter
new_data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,1900_1923,1923_1946,1946_1969,1969_1992,1992_2015,quad,NE,NW,SE,SW
0,7129300520,10/13/2014,221900.0,0.06250,0.066667,1180,5650,0.0,0.0,0.0,...,0,0,1,0,0,SW,0,0,0,1
1,6414100192,12/9/2014,538000.0,0.06250,0.233333,2570,7242,0.4,0.0,0.0,...,0,0,1,0,0,NW,0,1,0,0
2,5631500400,2/25/2015,180000.0,0.03125,0.066667,770,10000,0.0,0.0,0.0,...,0,1,0,0,0,NW,0,1,0,0
3,2487200875,12/9/2014,604000.0,0.09375,0.333333,1960,5000,0.0,0.0,0.0,...,0,0,1,0,0,SW,0,0,0,1
4,1954400510,2/18/2015,510000.0,0.06250,0.200000,1680,8080,0.0,0.0,0.0,...,0,0,0,1,0,NE,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,0.06250,0.266667,1530,1131,0.8,0.0,0.0,...,0,0,0,0,1,NW,0,1,0,0
21593,6600060120,2/23/2015,400000.0,0.09375,0.266667,2310,5813,0.4,0.0,0.0,...,0,0,0,0,1,SW,0,0,0,1
21594,1523300141,6/23/2014,402101.0,0.03125,0.033333,1020,1350,0.4,0.0,0.0,...,0,0,0,0,1,NW,0,1,0,0
21595,291310100,1/16/2015,400000.0,0.06250,0.266667,1600,2388,0.4,0.0,0.0,...,0,0,0,0,1,SE,0,0,1,0
21596,1523300157,10/15/2014,325000.0,0.03125,0.033333,1020,1076,0.4,0.0,0.0,...,0,0,0,0,1,NW,0,1,0,0

In [41]:
from sklearn.preprocessing import Normalizer

to_norm_df = new_data[['sqft_living', 'sqft_lot', 'sqft_living15', 'sqft_lot15']]
transformer = Normalizer().fit(to_norm_df)
transformed = transformer.transform(to_norm_df)

In [49]:
new_data.sqft_living = transformed[:,0]
new_data.sqft_lot = transformed[:,1]
new_data.sqft_living15 = transformed[:,2]
new_data.sqft_lot15 = transformed[:,3]

In [51]:
new_data['live_lot_ratio'] = new_data.sqft_lot / new_data.sqft_living

In [53]:
new_data['live_lot15_rat'] = new_data.sqft_lot15 / new_data.sqft_living15

In [55]:
new_data

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,1946_1969,1969_1992,1992_2015,quad,NE,NW,SE,SW,live_lot_ratio,live_lot15_rat
0,7129300520,10/13/2014,221900.0,0.06250,0.066667,0.144124,0.690087,0.0,0.0,0.0,...,1,0,0,SW,0,0,0,1,4.788136,4.216418
1,6414100192,12/9/2014,538000.0,0.06250,0.233333,0.234352,0.660381,0.4,0.0,0.0,...,1,0,0,NW,0,1,0,0,2.817899,4.520118
2,5631500400,2/25/2015,180000.0,0.03125,0.066667,0.058544,0.760314,0.0,0.0,0.0,...,0,0,0,NW,0,1,0,0,12.987013,2.963971
3,2487200875,12/9/2014,604000.0,0.09375,0.333333,0.262641,0.670003,0.0,0.0,0.0,...,1,0,0,SW,0,0,0,1,2.551020,3.676471
4,1954400510,2/18/2015,510000.0,0.06250,0.200000,0.148699,0.715174,0.0,0.0,0.0,...,0,1,0,NE,1,0,0,0,4.809524,4.168333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,0.06250,0.266667,0.533064,0.394049,0.8,0.0,0.0,...,0,0,1,NW,0,1,0,0,0.739216,0.986275
21593,6600060120,2/23/2015,400000.0,0.09375,0.266667,0.237859,0.598560,0.4,0.0,0.0,...,0,0,1,SW,0,0,0,1,2.516450,3.934426
21594,1523300141,6/23/2014,402101.0,0.03125,0.033333,0.362182,0.479358,0.4,0.0,0.0,...,0,0,1,NW,0,1,0,0,1.323529,1.967647
21595,291310100,1/16/2015,400000.0,0.06250,0.266667,0.463680,0.692043,0.4,0.0,0.0,...,0,0,1,SE,0,0,1,0,1.492500,0.912766
21596,1523300157,10/15/2014,325000.0,0.03125,0.033333,0.452551,0.477397,0.4,0.0,0.0,...,0,0,1,NW,0,1,0,0,1.054902,1.330392

In [56]:
new_data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'renovated', 'year_cat',
       '1900_1923', '1923_1946', '1946_1969', '1969_1992', '1992_2015', 'quad',
       'NE', 'NW', 'SE', 'SW', 'live_lot_ratio', 'live_lot15_rat'],
      dtype='object')

In [81]:
features = ['price', 'bathrooms', 'sqft_living',
            'sqft_lot', 'floors', 'waterfront', 'view',
            'condition', 'grade','sqft_living15', 'sqft_lot15', 'renovated', 
            '1923_1946', '1946_1969', '1969_1992', '1992_2015',
            'SE', 'SW']
final_data = new_data[features]
final_data

,price,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_living15,sqft_lot15,renovated,1923_1946,1946_1969,1969_1992,1992_2015,SE,SW
0,221900.0,0.066667,0.144124,0.690087,0.0,0.0,0.0,0.5,0.4,0.163667,0.690087,0,0,1,0,0,0,1
1,538000.0,0.233333,0.234352,0.660381,0.4,0.0,0.0,0.5,0.4,0.154107,0.696582,1,0,1,0,0,0,0
2,180000.0,0.066667,0.058544,0.760314,0.0,0.0,0.0,0.5,0.3,0.206805,0.612965,0,1,0,0,0,0,0
3,604000.0,0.333333,0.262641,0.670003,0.0,0.0,0.0,1.0,0.4,0.182241,0.670003,0,0,1,0,0,0,1
4,510000.0,0.200000,0.148699,0.715174,0.0,0.0,0.0,0.5,0.5,0.159321,0.664102,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,360000.0,0.266667,0.533064,0.394049,0.8,0.0,0.0,0.5,0.5,0.533064,0.525748,0,0,0,0,1,0,0
21593,400000.0,0.266667,0.237859,0.598560,0.4,0.0,0.0,0.5,0.5,0.188434,0.741378,0,0,0,0,1,0,1
21594,402101.0,0.033333,0.362182,0.479358,0.4,0.0,0.0,0.5,0.4,0.362182,0.712646,0,0,0,0,1,0,0
21595,400000.0,0.266667,0.463680,0.692043,0.4,0.0,0.0,0.5,0.5,0.408618,0.372973,0,0,0,0,1,1,0
21596,325000.0,0.033333,0.452551,0.477397,0.4,0.0,0.0,0.5,0.4,0.452551,0.602070,0,0,0,0,1,0,0

In [83]:
print(new_data.year_cat.value_counts(), '\n')
print(new_data.quad.value_counts())

1992_2015    6205
1946_1969    5663
1969_1992    5235
1923_1946    2374
1900_1923    1767
Name: year_cat, dtype: int64

NW    6758
SE    5237
NE    4651
SW    4598
Name: quad, dtype: int64

In [91]:
y = (final_data.price - final_data.price.mean()) / final_data.price.std()
X = final_data.drop('price', axis=1)
X

,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_living15,sqft_lot15,renovated,1923_1946,1946_1969,1969_1992,1992_2015,SE,SW
0,0.066667,0.144124,0.690087,0.0,0.0,0.0,0.5,0.4,0.163667,0.690087,0,0,1,0,0,0,1
1,0.233333,0.234352,0.660381,0.4,0.0,0.0,0.5,0.4,0.154107,0.696582,1,0,1,0,0,0,0
2,0.066667,0.058544,0.760314,0.0,0.0,0.0,0.5,0.3,0.206805,0.612965,0,1,0,0,0,0,0
3,0.333333,0.262641,0.670003,0.0,0.0,0.0,1.0,0.4,0.182241,0.670003,0,0,1,0,0,0,1
4,0.200000,0.148699,0.715174,0.0,0.0,0.0,0.5,0.5,0.159321,0.664102,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,0.266667,0.533064,0.394049,0.8,0.0,0.0,0.5,0.5,0.533064,0.525748,0,0,0,0,1,0,0
21593,0.266667,0.237859,0.598560,0.4,0.0,0.0,0.5,0.5,0.188434,0.741378,0,0,0,0,1,0,1
21594,0.033333,0.362182,0.479358,0.4,0.0,0.0,0.5,0.4,0.362182,0.712646,0,0,0,0,1,0,0
21595,0.266667,0.463680,0.692043,0.4,0.0,0.0,0.5,0.5,0.408618,0.372973,0,0,0,0,1,1,0
21596,0.033333,0.452551,0.477397,0.4,0.0,0.0,0.5,0.4,0.452551,0.602070,0,0,0,0,1,0,0

In [92]:
from sklearn.model_selection import train_test_split

In [93]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [105]:
import statsmodels.api as sm
X_train['intercept'] = 1
X_train.columns

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Index(['bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view',
       'condition', 'grade', 'sqft_living15', 'sqft_lot15', 'renovated',
       '1923_1946', '1946_1969', '1969_1992', '1992_2015', 'SE', 'SW',
       'intercept'],
      dtype='object')

In [106]:
X_train = X_train[['intercept', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view',
       'condition', 'grade', 'sqft_living15', 'sqft_lot15', 'renovated',
       '1923_1946', '1946_1969', '1969_1992', '1992_2015', 'SE', 'SW']]

In [107]:
X_train

,intercept,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_living15,sqft_lot15,renovated,1923_1946,1946_1969,1969_1992,1992_2015,SE,SW
12683,1,0.400000,0.182995,0.629057,0.0,0.0,0.0,0.75,0.6,0.196244,0.729581,1,0,0,1,0,0,0
17512,1,0.166667,0.243989,0.678473,0.4,0.0,0.0,0.75,0.4,0.233551,0.652378,0,1,0,0,0,0,0
1082,1,0.133333,0.332022,0.573033,0.2,0.0,0.0,0.75,0.5,0.326966,0.674157,0,1,0,0,0,0,0
19674,1,0.233333,0.515880,0.506777,0.8,0.0,0.0,0.50,0.5,0.485534,0.491224,0,0,0,0,1,0,0
2475,1,0.233333,0.153694,0.574110,0.6,0.0,0.0,0.75,0.6,0.153694,0.789401,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11486,1,0.533333,0.311290,0.655179,0.4,0.0,0.0,0.50,0.7,0.276974,0.630178,0,0,0,0,1,0,0
12176,1,0.433333,0.315791,0.768425,0.4,0.0,4.0,0.75,0.7,0.291077,0.474419,0,0,0,0,1,0,0
5474,1,0.066667,0.123217,0.697452,0.0,0.0,0.0,0.75,0.2,0.109267,0.697452,0,0,0,0,0,0,1
876,1,0.200000,0.129250,0.783350,0.0,0.0,0.0,0.50,0.4,0.138047,0.592114,0,0,0,1,0,0,0
16091,1,0.266667,0.232925,0.571442,0.4,0.0,0.0,0.50,0.6,0.224704,0.754128,0,0,0,1,0,0,0

In [108]:
lm = sm.OLS(y_train, X_train)
slr_results = lm.fit()
slr_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.660
Model:                            OLS   Adj. R-squared:                  0.659
Method:                 Least Squares   F-statistic:                     1936.
Date:                Sat, 09 May 2020   Prob (F-statistic):               0.00
Time:                        22:27:58   Log-Likelihood:                -14774.
No. Observations:               16995   AIC:                         2.958e+04
Df Residuals:                   16977   BIC:                         2.972e+04
Df Model:                          17
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
intercept        -2.2798      0.123    -18.502      0.000      -2.521      -2.038
bathrooms         2.2750      0.069     32.999      0.000       2.140       2.410
sqft_living       0.7561      0.097      7.814      0.000       0.566       0.946
sqft_lot          0.2632      0.091      2.890      0.004       0.085       0.442
floors           -0.1090      0.031     -3.503      0.000      -0.170      -0.048
waterfront        1.7574      0.059     29.812      0.000       1.642       1.873
view              0.1787      0.007     26.794      0.000       0.166       0.192
condition         0.3381      0.031     10.948      0.000       0.278       0.399
grade             4.5218      0.055     82.132      0.000       4.414       4.630
sqft_living15    -0.9880      0.103     -9.571      0.000      -1.190      -0.786
sqft_lot15       -0.0001      0.078     -0.001      0.999      -0.152       0.152
renovated         0.0902      0.026      3.467      0.001       0.039       0.141
1923_1946        -0.1111      0.020     -5.434      0.000      -0.151      -0.071
1946_1969        -0.4024      0.019    -21.681      0.000      -0.439      -0.366
1969_1992        -0.7086      0.020    -35.797      0.000      -0.747      -0.670
1992_2015        -0.6482      0.022    -29.453      0.000      -0.691      -0.605
SE               -0.4399      0.012    -37.488      0.000      -0.463      -0.417
SW               -0.4907      0.012    -41.360      0.000      -0.514      -0.467
==============================================================================
Omnibus:                    16305.176   Durbin-Watson:                   1.983
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          2463417.600
Skew:                           4.235   Prob(JB):                         0.00
Kurtosis:                      61.370   Cond. No.                         68.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [102]:
final_data.price.mean(), final_data.price.std()

(542301.1948314818, 368126.4540639322)

In [97]:
from sklearn.metrics import mean_squared_error, r2_score

y_true_train = y_train
y_pred_train = slr_results.predict(X_train)
y_true_test = y_test
y_pred_test = slr_results.predict(X_test)

print('Trained RMSE: ', mean_squared_error(y_true_train, y_pred_train)**(1/2))
print('Test RMSE: ', mean_squared_error(y_true_test, y_pred_test)**(1/2))

Trained RMSE:  0.582954348064047
Test RMSE:  0.612721538558429

In [98]:
print('Test r^2: ', r2_score(y_true_test, y_pred_test))

Test r^2:  0.6537152299811546